<div class="md:flex items-center justify-between py-2 px-8 md:px-12">
    <div></div>
    <div class="flex flex-col md:flex-row hidden md:block -mx-2">
      <a href="#"
        class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Home</a>
      <a href="#"
        class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">About</a>
      <a (click)="logout()"
        class="text-gray-800 rounded hover:bg-gray-900 hover:text-gray-100 hover:font-medium py-2 px-2 md:mx-2">Logout</a>
    </div>
  </div>
<div class="mt-24"></div>
<div class="bg-gray-200 rounded flex flex-col mx-64 px-8 pt-6 pb-8">
    <div class="text-lg font-bold pb-4 w-full text-center">Todo List</div>
    <table class="table-auto w-full">
        <thead>
            <tr>
                <th class="px-4 py-2"></th>
                <th class="px-4 py-2">Title</th>
                <th class="px-4 py-2">Description</th>
                <th class="px-4 py-2"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todo" [ngSwitch]="item.status">
                <ng-container *ngSwitchCase="'done'">
                    <td class="bg-gray-300 rounded-l px-2 py-2">
                        <input type="checkbox" checked (click)="tongleStatus($event, item)">
                    </td>
                    <td class="bg-gray-300 line-through text-gray-500 px-2 py-2">{{item.title}}</td>
                    <td class="bg-gray-300 line-through text-gray-500 px-2 py-2">{{item.description}}</td>
                    <td class="bg-gray-300 rounded-r px-2 py-2">
                        <button (click)="delete(item.id)" class="bg-red-700 hover:bg-red-400 rounded border px-3 py-1"
                            title="Delete Todo">x</button>
                    </td>
                </ng-container>
                <ng-container *ngSwitchCase="'new'">
                    <td class="bg-gray-300 rounded-l px-2 py-2">
                        <input type="checkbox" (click)="tongleStatus($event, item)">
                    </td>
                    <td class="bg-gray-300 px-2 py-2">{{item.title}}</td>
                    <td class="bg-gray-300 px-2 py-2">{{item.description}}</td>
                    <td class="bg-gray-300 rounded-r px-2 py-2">
                        <button (click)="delete(item.id)" class="bg-red-700 hover:bg-red-400 rounded border px-3 py-1"
                            title="Delete Todo">x</button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
    <add-new-todo (newItemEvent)="addItem($event)"></add-new-todo>
</div>